body {
    font-family: 'Quicksand', sans-serif;
}

.buttoncontainer {
    display: flex;
    gap: 16px;
}

.scoreboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 300px;
    font-family: 'Quicksand', sans-serif;  
}

.scoreboard__name1,
.scoreboard__name2,
.scoreboard__score {
    padding: 10px;
    text-align: center;
}

.scoreboard__name1,
.scoreboard__name2 {
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

.scoreboard__name1 {
    color: #00950078
}

.scoreboard__name2 {
    color: #2d0095
}

.scoreboard__score {
    font-size: 2em;
}

button:hover {
    background: #ddd;
}

button:active {
    background: #ccc;
}

button {
    flex-grow: 1;
    cursor: pointer;
    font-size: 1.2em;
}